*{
    box-sizing: border-box;
}
#navbar{
width: 100%;
margin: auto;
display: flex;
justify-content: space-around;
background-color: white;
font-size: 14px;
height: 44px;
align-items: center;
opacity: 0.8;
box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#navbar>img{
width: 70px;
}
#navbar a{
color: black;
}
#navbar>a:hover{
color: lightgreen;
opacity: 1;
}
#navbar>a>img{
width: 45px;
background: transparent;
}
#container{
    width: 95%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 70px 30px;
    background-color: #F3E5F5;
}
a{
    text-decoration: none;
}
#container>div{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    padding: 20px;
    background-color: #E0F7FA;
    height: 670px;
    border-radius: 30px;
}
#container>div img{
    width: 100%;
    height: 289px;
}
#inc{
    margin: 5px;
    /* background-color: aqua; */
    /* padding: 7px; */
    font-size: 20px;
    background-color:greenyellow ;
}
#dnc{
    margin: 5px;
    /* padding: 7px; */
    font-size: 20px;
    background-color:greenyellow
}

#delete{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    padding: 7px;
    font-size: 25px;
    border: none;
    border-radius: 40px;
    background-color:#F8BBD0;
}
#cart{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #E3F2FD;
    padding-left: 70px;
    padding-right: 70px;
    height: 80px;
}
#Checkout>a>button{
    padding: 10px;
    width: 150px;
    font-size: large;
    font-weight: bold;
    font-style: inherit;
    border: none;
    outline: double;
    /* border-radius: 40px; */
    background-color:#fb641b;
    color: #FFFFFF;
}
#quantity>span{
    font-size: 30px;
    background-color: aqua;
}
#value>span{
    font-size: 30px;
    background-color: aquamarine;
}
#container img{
    height: 400px;
}

@media only screen and (max-width:650px){
    #cart{
        flex-direction: column;
        height: 145px;
        align-items: center;
        margin-top: 20px;
        align-content: center;
    }
    #cart>#quantity{ display: none; } 
    
    /* #cart>#value{  display: none;} */

    #container{
        grid-template-columns: repeat(1,1fr);
    }
    #navbar{
        flex-direction: column;
        height: 50px;
    }
    #navbar>a:nth-child(2){
        display: none;
    }
    #navbar>a:nth-child(3){
        display: none;
    }
    #navbar>a:nth-child(4){
        display: none;
    }
    #navbar>a:nth-child(4){
        display: none;
    }
    #navbar>a:nth-child(5){
        display: none;
    }
    #navbar>a:nth-child(6){
        display: none;
    }
    #navbar>a:nth-child(7){
        display: none;
    }
    #navbar>a:nth-child(8){
        display: none;
    }
    #navbar>a:nth-child(9){
        display: none;
    }
    #navbar>a:nth-child(10){
        display: none;
    }
    #navbar>a:nth-child(11){
        display: none;
    }
    #navbar>a:nth-child(12){
        display: none;
    }
    #navbar>a:nth-child(14){
        display: none;
    }
    #navbar>#cart-count{
        display: none;
    }
}

@media only screen and (min-width:650px) and (max-width:900px){
    #cart{
        flex-direction: column;
        height: 145px;
        align-items: center;
        margin-top: 20px;
        align-content: center;
    }
    #cart>#quantity{ display: none; } 
    
    /* #cart>#value{  display: none;} */

    #container{
        grid-template-columns: repeat(2,1fr);
    }
    #container>div{
        height: 650px;
    }
    #navbar{
        flex-direction: column;
        height: 50px;
    }
    #navbar>a:nth-child(2){
        display: none;
    }
    #navbar>a:nth-child(3){
        display: none;
    }
    #navbar>a:nth-child(4){
        display: none;
    }
    #navbar>a:nth-child(4){
        display: none;
    }
    #navbar>a:nth-child(5){
        display: none;
    }
    #navbar>a:nth-child(6){
        display: none;
    }
    #navbar>a:nth-child(7){
        display: none;
    }
    #navbar>a:nth-child(8){
        display: none;
    }
    #navbar>a:nth-child(9){
        display: none;
    }
    #navbar>a:nth-child(10){
        display: none;
    }
    #navbar>a:nth-child(11){
        display: none;
    }
    #navbar>a:nth-child(12){
        display: none;
    }
    #navbar>a:nth-child(14){
        display: none;
    }
    #navbar>#cart-count{
        display: none;
    }

}