body{
    background-color: #FFEBEE;
}
form {
width: 50%;
border: 1px solid rgb(230, 230, 230);
margin: 3% auto;
/* padding: 3%; */
background: #FCE4EC;
font-size: 20px;
height: 700px;
padding-left: 15px;
padding-right: 15px;
}
form>input {
    width: 60%;
display: block;
margin: 15px 0px;
font-size: 20px;
padding: 2%;
border-radius: 20px;
font-style: italic;  
text-align: center;
background-color: white;
color: black;
}
#submit{
    width: 30%;
    margin-top: 30px;
    background-color:black ;
    color: white;
}
#main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #0099FF;
    margin: 3% auto;
    padding: 3%;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#main>.add{
    background-color: white;
    width: 50%;
    text-align: center;
    align-items:center;
    align-content: center;
    /* padding-top: 200px; */
    height: 700px;
}
img{
    width: 50%;
}
h2{
    font-size: 40px;
}
h5{
    font-size: 30px;
}
button {
display: block;
margin: 15px 0px;
font-size: 20px;
padding: 2%;
border-radius: 20px;
font-style: italic;  
text-align: center ;
text-decoration: none;
color: white;
background-color: black;
}
#ascach{
    background-color: aqua;
    width: 90%;
    margin: auto;
    padding: 50px;
}
a{
    text-decoration: none;
    color: black;
    text-align: center;
    
}
a img{
    width: 25px;
}
span{
    color: #0099FF;
    text-decoration: underline;
    font-size: 25px;
}
#form>img{
    width: 35%;
    margin: auto;
}

@media only screen and (max-width:800px) {
    #main{
        flex-direction: column;
    }
    #main>.add{
        width: 100%;
    }
    #main>form{
        width: 92%;
    }
}