*{
    box-sizing: border-box;
}
body{
    background-color: #ECEFF1;
}
#navbar{
width: 100%;
margin: auto;
display: flex;
justify-content: space-around;
background-color: white;
font-size: 14px;
height: 44px;
align-items: center;
opacity: 0.8;
box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
/* #navbar>div>a{
width: 100%;
justify-content: space-between;
font-size: 20px;
} */
#navbar>img{
width: 70px;
}
#navbar a{
color: black;
}
#navbar>a:hover{
color: lightgreen;
opacity: 1;
}
#navbar>a>img{
width: 45px;
background: transparent;
}
#start{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    
}
#start>div>h1,span{
    font-size: 50px;
    /* padding-right: ; */
}
#start>div>h1>span{
    color: #757575;
}
.start-1{
    padding-left: 30px;
    font-size:25px ;
}
.start-1 img{
    width: 75px;
}
.start-1>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
}
#flex{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    
}
#flex>a{
    width: 12%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white
}
#flex>a>img{
    width: 100%;
}
.before_slide>h2{
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: start;
    padding-right: 30px;
    font-size: 40px;
    margin-top: 40px;
}
h2>span{
    font-size: 35px;
    color: #757575;
}
#slide{
    width: 100%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
#slide>div>a>div>img{
    width: 70%;
    margin: auto;
    /* background-color: aqua; */
}
#slide>div{
    background-color: black;
    color: white;

}
#slide>div>a>div{
    color: white;
}
a{
    text-decoration: none;
}

/* //aegag */

#slide{
/* padding-top: 20px; */
/* background-color: #0B0A0A; */
width: 90%;
margin: auto;
text-align: center;
color: white;
font-size: 20px;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px 20px;
}
/* Wacth */
#slide>.watch{
margin-top: 30px;
background-color: #0B0A0A;
color: white;
text-align: center;
}
#slide>div>div>a{
color: lightskyblue;
padding: 20px;
}
#slide>.watch>div>img{
width: 40%;
margin: auto;
margin-top: 30px;
}
/* iPad */
#slide>.iPad{
margin-top: 30px;
background-color: white;
color: black;
text-align: center;
}
#slide>.iPad>div>img{
width: 40%;
margin: auto;
margin-top: 30px;
}
/* MacBook */
#slide>.MacBook{
background-color: #0B0A0A;
color: white;
text-align: center;
}
#slide>div>div>a{
color: lightskyblue;
padding: 20px;
}
#slide>.MacBook>div>img{
width: 60%;
margin: auto;
margin-top: 30px;
}
/* Homepod  */
#slide>.HomePod{
/* margin-top: 30px; */
background-color: white;
color: black;
text-align: center;
}
#slide>.HomePod>div>img{
width: 60%;
margin: auto;
margin-top: 30px;
}
/* MacStore */
#slide>.MacStore{
/* margin-top: 30px; */
background-color: #FAFAFA;
color: black;
text-align: center;
}
#slide>.MacStore>div>img{
width: 60%;
margin: auto;
margin-top: 30px;
}
#specealist{
width: 50%;
margin: auto;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
margin-top: 50px;
}
#specealist h2{
font-size: 35px;
text-align: center;
}
#specealist img{
width: 100%;
height: 400px;
}
#specealist>#column img{
height: 200px;
}
#specealist>div{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: white;
border-radius: 30px;
}
#specealist>#column>div{
margin: 20px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
border-radius: 20px;
}
#bar{
width: 100%;
margin: auto;
display: flex;
justify-content: space-between;
}
#bar>div{
font-size: 20px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
padding: 10px;
margin: 10px;
border-radius: 20px;
background-color: white
}

#acce{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px 10px;
    margin-top: 20px;
    /* background-color: aqua; */
}
#acce>div{
    background-color: #FAFAFA;
    text-align: start;
    font-size: larger;
    border: none;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
}
#acce>div>img{
    width: 100%;
    margin:auto;
}
#acce>div>h3,p{
    padding: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#acce>div>button{
    background-color:aquamarine;
    padding: 8px;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}
#acce>div>.red{
    color: red;
}
#acce>div>button:hover{
    cursor: pointer;
    color: white;
    background-color: grey;
}
/* //music */
#music{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px 10px;
    margin-top: 20px;
    /* background-color: aqua; */
}
#music>div{
    background-color: #FAFAFA;
    text-align: start;
    font-size: larger;
    border: none;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
}
#music>div>img{
    width: 100%;
    margin:auto;
}
#music>div>h3,p{
    padding: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#music>div>button{
    background-color:aquamarine;
    padding: 8px;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}
#music>div>.red{
    color: red;
}
#music>div>button:hover{
    cursor: pointer;
    color: white;
    background-color: grey;
}
#grid{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 30px;
}